a:hover {
    border: white 2px solid;
    background-color: orange;
}

a:hover:active {
    position: relative;
    top: 2px;
    left: 2px;
}

.nav__responsive-ul{
	display: none;
}

ul{
    list-style: none;
}
.nav__responsive-button-container{
    position: absolute;
    width: 100%;
    font-size: 25px;
    padding: 6px 20px;
	background-color: midnightblue;
	color: orangered;
    margin-top: -64px;
    z-index: 100;
 }
 .nav__responsive-button{
	 color: orangered;
     padding: 6px 20px;
     text-align: right;
     width: 100%;
 }

 .nav__responsive-button i{
	 color: orangered;
 }
.nosotros{
	font-family: 'Acme', sans-serif;
	font-size: 30px;
	background-color: rgba(199, 185, 185, 0.4);
}

h1 {
    text-align: center;
	color:orangered;
	font-family: 'Bangers', cursive;
	font-size: 60px;
    animation: changeColor 2s linear;
}

h2 {
	margin-left: 2em;
	color: orangered;
	font-family: 'Bangers', cursive;;
	font-size: 30px;
}

.tituloresena{
    color: red;
    font-family: 'Acme', sans-serif;
    font-size: 1em;
}

@keyframes changeColor {
    from { color: black; }
    to { color:orangered; } 
}

body {
    margin: 20px 40px;
    background-image: url("../imagenes/yourname.jpg");
}

main {
    min-height: 300px;
}
.nav_li a{
	color: orangered;
	text-decoration: none;
}
.nav_li{
	font-size: 30px;
	font-family:'Acme', sans-serif; ;
	display: inline-block;
	padding-left: 90px;
	padding-right: 90px;
	padding-bottom: 30px;
	padding-top: 30px;
	color: orangered;
}
.nav_li:hover > a{
	color: orange;
}
.nav_li:hover{
	color: orange;
}

.nav_li i{
	box-sizing: border-box;
	text-align: right;
	margin-right: 4px;
}

header, footer {
    background-color: midnightblue;
    border-radius: 10px;
}


footer {
    text-align: center;
    padding: 15px;
    margin-top: 100px;
    color: orangered;
}

footer a {
    color:orangered;
    margin: 0px 5px;
}

footer a:hover {
    color:orange;
    background-color:black;
    border: none;
}

form {
    display: grid;
    background-color: rgba(198, 184, 185, 0.5);
    font-family: 'Acme', sans-serif;
    font-size: 20px;
    max-width: 50%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 1%;
    padding: 2rem;
}

input {
    margin: 5px;
    border-radius: 5px;
    min-height: 2rem;
}

.linkMapa {
    font-size: small;
    background-color: black;    
}

.mapas {
    display: grid;
    grid-template-areas: "i i i i";
    justify-content: center;
    grid-gap: 1rem;
}

.container {
	display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
}

.item {
	border: black solid 1px;
	border-radius: 10px;
	text-align: center;
	width: fit-content;
	height: fit-content;
    /* height: 19em; // Para poner el Boton de Receta dentro del recuadro*/ 
}

.caja img{
	display: grid;
}

.grid-container {
    display: grid ;
	grid-template-rows: 100px 300px 100px;
    grid-gap: 60px;

}

.caja1, .caja2, .caja3 {
    text-align: center;
    font-family: 'Acme', sans-serif;
    font-size: 2em;
}


.caja1, .caja3 {
    background-color: rgba(198, 184, 185, 0.5);
}

.grid-container2 {
    display: grid ;
    grid-template-rows: 375px 375px 325px;
    grid-row-gap: 60px;

}

.box1, .box2 , .box3{
    background-color: rgba(198, 184, 185, 0.5); ;
    text-align: center;
    font-family: 'Acme', sans-serif;
    font-size: 2em;
}

.imgresena1{
    display: grid;
    margin-top: -70px;
    height: 100px;
}

.imgresena2{
    display: grid;
    margin-top: -70px;
    height: 100px;
}

.imgresena3{
    display: grid;
    margin-top: -70px;
    height: 100px;
    width: 200px;
}

#portada  {
    height: 300px;
    margin-bottom: 100px;
}

@media screen and (max-width: 1700px) {
    .fotosClientes {
        grid-template-areas: "img img" "img img" "img img";
    }

    .mapas {
        grid-template-areas: "i i" "i i";
    }

    .contenedor {
        grid-template-columns: 45% 45%;
    }
	
	.nav_li{
		font-size: 25px;
		padding-left: 60px;
		padding-right: 60px;
	}

    form {
        max-width: 70%;
    }

    .grid-container {
        display: block;
    }

    .grid-container2{
        display: block;
    }

    .imgresena1,.imgresena2,.imgresena3{
        margin-top: -60px;
    }
}

@media screen and (max-width: 1400px) {
	.nav_li{
		font-size: 20px;
		padding-left: 45px;
		padding-right: 45px;
	}
	
}
@media screen and (max-width: 1260px) {
	.nav_li{
		font-size: 20px;
		padding-left: 25px;
		padding-right: 25px;
	}
	
}


@media screen and (max-width: 1200px) {
    .fotoSola {
        top: 20rem;
	}
	
}

@media screen and (max-width: 1200px) {
    .fotosClientes {
        grid-template-areas: "img";
    }

    body {
        margin: 0px;
    }

    nav {
        display: grid;
        grid-template-areas: "a a a";
        grid-gap: 5px;
    }

    .mapas {
        grid-template-areas: "i";
    }

    .contenedor {
        grid-template-columns: 90%;
    }

    form {
        max-width: 85%;
    }

}
@media screen and (max-width: 1000px) {
	.nav_li{
		font-size: 20px;
		padding-left: 10px;
		padding-right: 10px;
	}
	
}

@media screen and (max-width: 710px) {
   h1{
	   margin-top: 100px;
   }
	.nav__ul{
        display: none;
    }
    .nav{
        height: 37px;
        width: 100%;
        background-color:midnightblue;
    }
    .nav__responsive-ul{
        display: block;
        position: absolute;
        width: 100%;       
        margin-top: 37px;
        padding-top: 27px;
        height: 37px;
    }
    .nav__li-container{
        position: relative;
        top: -1000px;
        height: calc(100vh - 64px);
        background-color: midnightblue;
        transition: all 1s;
        z-index: 1 ;
        width: 100%;
        padding-top: 27px;
    }
  .nav__responsive-li{
      width:100%;
      padding: 9px 20px;
  }
  .nav__responsive-li i{
      box-sizing: border-box;
      text-align: center;
      margin-right: 5px;
      width: 30px;
      color: orangered;
  }
  .nav__responsive-li a{
      color: orangered;
      text-decoration: none;
  }
  .nav__responsive-ul:hover > .nav__li-container{
   top: -15px;   
  }
	
	.fotoSola {
        position: static;
    }

    form {
        max-width: 100%;
    }

    .linkMapa {
        display: block;
    }
}